body{
	margin: 0;
	background-color: black;
	font-size: 125%;
	background: url(https://i.pinimg.com/originals/73/dc/b8/73dcb82a864a1ae4739f573b948b2939.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header{
	background-color: #000099;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

header h1 {

	color: white;
	font-size: 400%;
	font-family: Comic Sans MS, Arial, sans-serif;
	background-color: #e6e600;
	text-shadow: 
	-11px 8px 23px black,
	11px -8px 23px black,
	11px 8px 23px black,
	-11px -8px 23px black;
}

header img{
	border-radius: 100%;
	width: 50%;
	border: 15px solid black;
	max-width: 375px;
	background-color: #e6e600;
}

h1, h2{
	font-family: 'Boogaloo', cursive;
	margin-bottom: 0;
}

main{
	background:rgba(0,0,0,0.7);
	max-width: 100%;
	padding: 0 0;
}

main img{
	max-width: 100%;
}
h2{
	font-size: 200%;
	color: #e6e600;
	padding-bottom: 0;
}

p{
	line-height: 150%;
	margin-top: 0;
}

a{
	color: red;
}

main a:hover{
	background-color: steelblue;
}

main a:visited{
	color: grey;
}

footer{
	background-color: #000099;
	text-align: center;
	color: white;
	padding: 2%;
}

p.caption{
	margin-top: 0;
	color: lightgrey;
	font-style: italic;
}

main div{
	max-width: 1080px;
	margin: 0 auto;
	padding: 1% 5%;
	color: white;
  	text-shadow: 
  	-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
   	background:rgba(0,0,0,0);
}
header ul{
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 0;
	position: sticky;
/*	position: -webkit-sticky; /* Safari */
	top: 0;
	width: 100%;
	font-size: 150%;
	font-family: Comic Sans MS, Arial, sans-serif;
	padding: 0 1%;
	text-shadow:
  	-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

header li{
	display: inline;
	padding: 0 5%;
	border-right: 1px solid white;
}

header li:hover{
	background-color: #e6e600;
}

header li:active{
	background-color: steelblue;

}
header li:last-child {
	border-right: none;
}